
.intro{
  background-color: #6fbf8a;
  height: 100%;
}

.custom-nav{
  display: flex;
  width: 100%
}

#custom-nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all .5s ease-in-out;
}

#custom-nav.fade-in{
  opacity: 1;
}

.nav-left{
  width: 50%;
  padding-left: 15px;
  margin-bottom: 0px;
  align-items: center;
}

.nav-right{
  width: 50%;
  margin-bottom: 0px;
  align-items: center;
  justify-content: space-around;
}

.content{
  background-color: #32803e;
  height: 100%
}

.outro{
  background-color: #0f4718;
  height: 100%;
}

/*************************************/
html{
  height: 100%;
  width: 100%;
}
body{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav{
  display: flex;
  background-color: #71BE8B;
}

ul{
  display: flex;
  background-color: #71BE8B;
  padding-left: 0px;
}

a{
  background-color: lightgreen;
  text-decoration: none;

}

li{
  background-color: #71BE8B;
  list-style: none;
  color: black;
}
